/* General styling */
html {
  font-size: 10px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #f1f1f1;
  color: #222;
  font-family: 'Noto Sans', Verdana, sans-serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: normal;
}

h2 {
  font-size: 2.8rem;
}

p, li {
  font-size: 1.8rem;
  line-height: 1.5;
}

/* Links */
a:link {
  color: #c33232;
}

a:visited {
  color: #664a7c;
}

a:hover {
  color: #e66f6f;
}

/* Header */
header {
  display: flex;
  border-radius: 0 0 8px 8px;
  background: #c33232;
  color: #f1f1f1;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header h1 {
  margin: 0;
  border: 1px solid #c33232;
  border-top: none;
  border-bottom-left-radius: 8px;
  padding: 1.4rem;
  background: #f1f1f1;
  color: #c33232;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-left: 3rem;
}

nav a {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:link, nav a:visited {
  color: #f1f1f1;
}

/* Main */
main {
  padding: 1.4rem;
}

/* Footer */
footer {
  border-top: 1px solid #c33232;
  padding: 1.4rem;
  text-align: right;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer li {
  font-size: 1.4rem;
}

/* Table */
table {
  width: 70%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1.8rem;
}

table a {
  text-decoration: none;
}

td, th {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.2rem;
}

thead tr th {
  border: none;
}

.character-table thead tr th:nth-child(2) {
  width: 30%;
}